{% extends "layout.twig" %}

{% block content %}
    <h1>Dasboadrd</h1>

    <details>
        <summary>
            ADMIN
        </summary>
        <ul>
            <li>
                <a href="/curso-php/user/add">Add User</a>
            </li>
            <li>
                <a href="/curso-php/jobs/add">Add User</a>
            </li>
        </ul>
    </details>
 <a href="/curso-php/Logout">Logout</a>

{% endblock %}
