{% extends "layout.twig" %}

{% block content %}
<h1>Login</h1>
      <div class="alert alert-primary" role="alert" >
        {{ responseMessage }}
      </div>
    <form action="/curso-php/auth" method="post">
        <label>Email:
            <input type="text" name="email" placeholder="Email">
        </label><br>
        <label>Password:
            <input type="password" name="password" placeholder="Password">
        </label><br>
        <button>Login</button>
    </form>
{% endblock %}