{% extends "layout.twig" %}
{% block content %}
    <div class="row">
    <table class="table">
        <tr>
            <th>Job table</th>
            <th>Delete</th>
        </tr>
        {% for job in jobs %}
            <tr>
                <td>{{job.titulo}}</td>
                <td><a href="/curso-php/delete?id={{job.job_id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}